@import "@styles/_variables.scss";

.hero {
  .heroContent {
    max-width: $max-width-content;
    margin: 0 auto;
    min-height: 650px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 20px;

    .heroLeft {
      max-width: 400px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      
      .title {
        color: $white;
        font-family: $primary-font;
        font-size: $font-size-9;
        font-weight: $bold-weight;
        line-height: normal;
        
        .secondWord {
          color: $primary-color;
        }
      }
      
      .description {
        color: $white;
        font-family: $primary-font;
        font-size: $font-size-3;
        font-weight: $normal-weight;
        line-height: 175%;
        text-align: justify;

        .secondWord {
          color: $primary-color;
        }
      }

      .CTABtn {
        width: 180px;
        height: 40px;
        background-color: $primary-color;
        border: none;
        border-radius: 5px;
        color: $white;
        font-family: $primary-font;
        font-size: $font-size-3;
        font-weight: $bold-weight;
        line-height: normal;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: $black;
          color: $primary-color;
          box-shadow: 0 0 15px 0 $primary-color;
        }
      }
    }

    .heroRight {
      .heroImg {
        width: 525px;
        border-radius: 30px;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .hero {
    .heroContent {
      .heroLeft {
        max-width: 300px;

        .title {
          font-size: $font-size-8;
        }

        .description {
          font-size: $font-size-2;
        }

        .CTABtn {
          width: 170px;
        }
      }

      .heroRight {
        .heroImg {
          width: 450px;
        }
      }
    }
  }
}

@media screen and (max-width: $tablet-md) {
  .hero {
    .heroContent {
      flex-direction: column;
      gap: 30px;
      padding: 50px 20px;
  
      .heroLeft {
        max-width: 250px;
  
        .title {
          font-size: $font-size-6;
  
          .secondWord {
            color: $primary-color;
          }
        }
  
        .description {
          font-size: $font-size-2;
        }
  
        .CTABtn {
          width: 100px;
          font-size: $font-size-1;
        }
      }
  
      .heroRight {
        .heroImg {
          max-width: 100%;
          border-radius: 30px;
        }
      }
    }
  }

}
