@import "@styles/_variables.scss";

.selectedCard {
  .card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 60px;

    .details {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .type {
        font-size: $font-size-4;
        font-family: $primary-font;
        color: $white;
        line-height: normal;
      }

      .calories {
        font-size: $font-size-3;
        font-family: $primary-font;
        color: $white;
        line-height: normal;
      }
    }

    .deleteIcon {
      width: 20px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: $tablet-md) {
  .selectedCard {
    .card {
      margin-bottom: 30px;

      .details {
        .type {
          font-size: $font-size-3;
        }

        .calories {
          font-size: $font-size-2;
        }
      }

      .deleteIcon {
        width: 15px;
      }
    }
  }
}
