@import "@styles/_variables.scss";

.navbar {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: $background-black;
  padding: 0 20px;

  .navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $max-width;
    margin: 0 auto;
    height: 80px;

    .navbarLeft {
      display: flex;
      gap: 30px;
      align-items: center;

      .appLogoContainer {
        display: flex;
        gap: 5px;
        align-items: center;
        .appName {
          color: $white;
          font-family: $secondary-font;
          font-size: $font-size-9;
          font-weight: $bold-weight;
          line-height: normal;

          .secondWord {
            color: $primary-color;
          }
        }
      }

      .appLogo {
        width: 30px;
        height: 30px;
      }
    }

    .navbarRight {
      display: flex;
      gap: 30px;

      .loginBtn {
        width: 120px;
        height: 40px;
        background-color: $primary-color;
        border: none;
        border-radius: 5px;
        color: $white;
        font-family: $primary-font;
        font-size: $font-size-3;
        font-weight: $bold-weight;
        line-height: normal;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: $black;
          color: $primary-color;
          box-shadow: 0 0 15px 0 $primary-color;
        }
      }

      .signupBtn {
        width: 120px;
        height: 40px;
        background-color: $black;
        border: none;
        border-radius: 5px;
        color: $white;
        font-family: $primary-font;
        font-size: $font-size-3;
        font-weight: $bold-weight;
        line-height: normal;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        outline: 2px solid $primary-color;

        &:hover {
          background-color: $primary-color;
          color: $white;
          box-shadow: 0 0 15px 0 $primary-color;
        }
      }
    }
  }
}
