@import "@styles/_variables.scss";

.menu {
  display: flex;
  gap: 40px;
  position: relative;

  .list {
    transform: translateY(-100px);
    transition: all 0.5s ease-out;
    display: flex;
    flex-direction: column;

    .link {
      color: $white;
      font-family: $primary-font;
      font-size: $font-size-3;
      font-weight: $medium-weight;
      line-height: 150%;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: $primary-color;
        text-decoration: underline;
      }
    }
    &:hover {
      transform: scale(1.075);
    }
  }
}

@media screen and (max-width: $tablet-md) {
  .menu {
    gap: 50px;
    flex-direction: column;
    align-items: center;

    .list .link {
      font-size: $font-size-7;
    }
  }
}

@media screen and (max-width: $mobile) {
  .menu {
    gap: 30px;
    .list .link {
      font-size: $font-size-3;
    }
  }
}
