@import "@styles/_variables.scss";

.footer {
  background-color: $black;
  padding: 50px 20px;

  .footerContainer {
    max-width: $max-width-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .footerTop {
      display: flex;
      justify-content: space-between;

      .topLeft {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 300px;
        text-align: justify;

        .appLogoContainer {
          display: flex;
          align-items: center;
          gap: 5px;
        }

        .appLogo {
          width: 20px;
          height: 20px;
        }

        .appName {
          color: $white;
          font-family: $secondary-font;
          font-size: $font-size-4;
          font-weight: $bold-weight;
          line-height: normal;

          .secondWord {
            color: $primary-color;
          }
        }

        .appDescription {
          color: $white;
          font-family: $primary-font;
          font-size: $font-size-2;
          font-weight: $normal-weight;
          line-height: 200%;
        }
      }

      .topCenter {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .linkTitle {
          color: $white;
          font-family: $primary-font;
          font-size: $font-size-4;
          font-weight: $bold-weight;
          line-height: normal;
        }

        .footerLinks {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .list {
            transition: all 0.2s ease-in-out;
            .link {
              color: $white;
              font-family: $primary-font;
              font-size: $font-size-2;
              font-weight: $normal-weight;
              line-height: normal;

              &:hover {
                border-bottom: solid 1px $primary-color;
                color: $primary-color;
              }
            }
          }
        }
      }
    }

    .footerBottom {
      display: flex;
      gap: 10px;
      justify-content: space-between;

      .copyright {
        color: $white;
        font-family: $primary-font;
        font-size: $font-size-2;
        font-weight: $normal-weight;
        line-height: normal;
      }
    }
    .divider {
      width: 100%;
      height: 0.5px;
      background-color: $primary-color;
    }
  }
}

@media screen and (max-width: $tablet-md) {
  .footer {
    .footerContainer {
      gap: 20px;
      .footerTop {
        flex-direction: column;
        align-items: center;
        gap: 40px;

        .topLeft {
          .appName {
            font-size: $font-size-3;
          }

          .appDescription {
            font-size: $font-size-1;
          }
        }

        .topCenter {
          .linkTitle {
            font-size: $font-size-2;
          }

          .footerLinks {
            .list {
              .link {
                font-size: $font-size-1;
                font-weight: $normal-weight;
                line-height: normal;
              }
            }
          }
        }
      }

      .footerBottom {
        flex-direction: column;
        align-items: center;

        .copyright {
          font-size: $font-size-1;
        }
      }
    }
    .divider {
      width: 100%;
      height: 0.5px;
      background-color: $primary-color;
    }
  }
}
